.box {
    height: 40vh;
    width: 40vw;
    display: flex;
    background-color: rgb(56, 83, 83);
    border-radius: 12px;
    position: absolute;
    top: 7%;
    left: 10%;
    z-index: 6;
    transition: all 0.3s;
}

.leftPannel {
    border-right: 3px double rgb(97, 91, 91);
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 8vw;
}

.leftPannel>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.leftPannel>ul>button {
    width: 8vw;
    height: fit-content;
    margin-bottom: 2px;
    border-radius: 7%;
    border: none;
    outline: none;
    background-color: rgb(73, 97, 99);
    text-align: left;
    color: whitesmoke;
    padding-left: 8px;
    cursor: pointer;
    /* border: 1px solid white; */
    border-radius: 8px;
}

.leftPannel>ul>button>li {
    font-weight: 520;
    font-size: 15px;
    padding: 10px;
}

.leftPannel>ul>button:hover {
    background-color: rgba(94, 93, 93, 0.479);
}

.detailPannel {
    width: 100%;
    padding: 5px;
}

.Profile,
.Account,
.Other {
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    width: 28.5vw;
    display: flex;
    color: white;
}

.Profile {
    /* flex-direction: column; */
    align-items: center;
}

.ProfilePicture {
    width: 80px !important;
    height: 80px !important;
    margin: 20px;
}

.usernameDiv {
    padding: 0px;
}

.usernameDiv>p {
    margin: 0px;
}

.heading {
    font-size: 12px;
}

.username {
    font-size: large;
    font-weight: bold;
}


.seeBlockedBtn {
    padding: 8px;
    background-color: #16463f8a;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.seeBlockedBtn:hover {
    background-color: #ffffff34;
}

.blockList {
    position: absolute;
    top: 9%;
    left: 55%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    width: 15vw;
    background-color: #4f6e67;
}

.listDiv {
    padding: 6px;
    margin-bottom: 4px;
    background-color: #498b7b;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.empty {
    font-size: 15px;
    width: 550;
}